@font-face {
    font-family: "Public Pixel";
    src: url("./fonts/public-pixel-font/PublicPixel.ttf");
}
@font-face {
    font-family: "Home Video Bold";
    src: url("./fonts/home-video-font/HomeVideoBold.ttf");
}
@font-face {
    font-family: "Home Video";
    src: url("./fonts/home-video-font/HomeVideo.ttf");
}

@keyframes fontIncrease {

    to{ font-size: 16px; }
}
@keyframes fontDecrease {
    to{
        font-size: 13px;
    }
}

@keyframes fadein {
    from{opacity: 0}
    20%{opacity: 0}
    to{opacity: 100; animation: fontDecrease;}
}

@keyframes blink {
    from{opacity: 0}
    25.0%{opacity: 0}
    25.001%{opacity: 100}
    to{opacity: 100}
}

@keyframes trans {

}

body{
    background-color: blue;
    color: white;
    font-family: "Home Video Bold", system-ui;
    /*overflow: hidden;*/
    border: none;
    font-size: 13px;
    animation: fadein 3s;
}

body a {
    color: mediumpurple;
    animation: fontDecrease;
}

body p{
}

body a:hover{
    animation: fontIncrease .5s forwards;
}

.canvas{
    display: compact;
    justify-content: center;
    font-family: "Public Pixel", math;
    text-align: center;
}

.canvas h2 {
    font-size: 55px;
    justify-content: center;
    display: flex;
    font-family: "Home Video Bold", system-ui;
    animation: blink 3s infinite;
    line-height: .4;
}

.canvas h3 {
    font-size: 35px;
    justify-content: center;
    display: flex;
    font-family: "Home Video Bold", system-ui;
    animation: trans;
}

.canvas h4 {
    font-size: 35px;
    justify-content: center;
    display: flex;
    font-family: "Home Video", system-ui;
    animation: trans;
}

.canvas p {
    margin-right: 20%;
    margin-left: 20%;
}

.projs h2 {
    font-size: 45px;
    line-height: 1.5;
}

.background{
    position: absolute;
    margin: 0;
    border: none;
    left: 25%; top: 25%;
    width: 50%;
    max-width: 100%;
    /*height: 100%;*/
    z-index: -200;
    animation: fadein 7s;
}

#neon:hover{
    color: green;
}

#github:hover{
    color: grey;
}