body{
    background-color: blue;
    color: white;
    font-family: "Home video", system-ui;
    overflow: hidden;
    border: none;
    font-size: 15px;
}

.canvas{
    display: compact;
    justify-content: center;
    font-family: "Public Pixel";
    text-align: center;
}

.canvas h2
{
    font-size: 55px;
    justify-content: center;
    display: flex;
    font-family: "Home video", system-ui;
}

.canvas h3
{
    font-size: 40px;
    justify-content: center;
    display: flex;
    font-family: "Home video", system-ui;
}

.canvas p{
    margin-right: 25%;
    margin-left: 25%;
}

.background{
    position: absolute;
    margin: 0;
    border: none;
    left: 0; top: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    z-index: -200;
}
