@font-face {
    font-family: "Public Pixel";
    src: url("./fonts/public-pixel-font/PublicPixel.ttf");
}
@font-face {
    font-family: "Home video";
    src: url("./fonts/home-video-font/HomeVideoBold.ttf");
}

@keyframes fontIncrease {
    from{ font-size: 13px; }
    to{ font-size: 16px; }
}

@keyframes fadein {
    from{opacity: 0}
    20%{opacity: 0}
    to{opacity: 100}
}

@keyframes blink {
    from{opacity: 0}
    25%{opacity: 0}
    25.001%{opacity: 100}
    to{opacity: 100}
}

body{
    background-color: blue;
    color: white;
    font-family: "Home video", system-ui;
    overflow: hidden;
    border: none;
    font-size: 13px;
}

body a {
    color: mediumpurple;
    animation: fadein 5s;
}

body p{
    animation: fadein 5s;
}

body a:hover{
    animation: fontIncrease .5s forwards;
}

.canvas{
    display: compact;
    justify-content: center;
    font-family: "Public Pixel", math;
    text-align: center;
}

.canvas h2
{
    font-size: 45px;
    justify-content: center;
    display: flex;
    font-family: "Home video", system-ui;
    animation: blink 2s infinite;
}

.canvas h3
{
    font-size: 35px;
    justify-content: center;
    display: flex;
    font-family: "Home video", system-ui;
    animation: blink 2s infinite;
}

.canvas p{
    margin-right: 20%;
    margin-left: 20%;
}

.projs{
    justify-content: left;
    display: grid;
    /*position: absolute;*/
}

.background{
    position: absolute;
    margin: 0;
    border: none;
    left: 0; top: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    z-index: -200;
    animation: fadein 10s;
}

#neon:hover{
    color: green;
}

#github:hover{
    color: grey;
}