
@font-face {
    font-family: "Modern Dos";
    src: url("./fonts/modern-dos-font/ModernDOS8x16.ttf");
}

@font-face {
    font-family: "w95fa";
    src: url("./fonts/ms-sans-serif/ms-sans-serif.otf");
}

@keyframes winopen {
    from{
		opacity: 0;
		height: 50px;
		min-height: 50px;
		max-height: 50px;
	}
	10%{
		opacity: 100%;
	}
}

body {
	color: white;
	background-color: rgba(0, 128, 128, .9);
}

p, h1{
	font-family: 'Modern Dos';
	color: white;
	/* line-height: 0; */
	transform: translate(0,-10px);
	/* top: -10px; */
}

#selector{
	background-color: rgba(255, 0, 0, 0);
	position: absolute;
	top: 7vh;
	/* bottom: calc(100% + 200px); */
	height: 400px;
	left: 0vh;
	right: 80vw;
	display: grid;
	gap: 0;
	grid-template-columns: repeat(2,1fr);
}


@keyframes projs-winopen {
    from{
		opacity: 0;
		left: 30vw;
		bottom: 100%;
	}
	15%{
		opacity: 100%;
		left: 30vw;
		bottom: 87%;
	}
	to{
		opacity: 100%;
	}
}

#projects{
	opacity: 0;
	min-height: 34px;
	background-color: #c1c1c1;
	border-top: #dddddd 2px solid;
	border-left: #dddddd 2px solid;
	border-bottom: #000000 2px solid;
	border-right: #000000 2px solid;
	/* outline: #c3ccd3 2px solid; */
	position: absolute;
	top: 7vh;
	bottom: 7vh;
	left: 30vw;
	right: 10vh;
}

#projects p, #projects h1 {
	font-family: 'Modern DOS','w95fa','consolas';
	color: #beb7be;
}

#programspace p, #programspace h1 {
	color: black;
}

.subcon{
	position: absolute;
	visibility:hidden;
}

.selector-entry {
	-webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selected p{
	color: blue;
}

#titlebar{
	/* background-color: #7d8281; */
	background-color: blue;
	width: calc( 100% - 4px);
	top: 0;
	left: 0;
	position: absolute;
	height: 30px;
	border: #c1c1c1 2px solid;
	z-index: 1;
}

#titlebar p {
	color: white;
}

#programspace{
	position: absolute;
	top: 30px;
	bottom: 0;
	width: 100%;
}

iframe{
	height: calc(100% - 6px);
	/* z-index: -1; */
	width: 100%;
	border: 0;
}

.selector-entry{
	/* width: 64px; */
	max-height: 0;
	text-align: center;
}

.selector-entry p{
	font-size: 12pt;
	color: #FFFFFF;
	font-family: microsoft-sans-serif, sans-serif;
	font-smooth: never;
	-webkit-font-smoothing : none;
	font-synthesis-weight: none;
	filter: contrast(1);
}