@font-face {
    font-family: "Public Pixel";
    src: url("./fonts/public-pixel-font/PublicPixel.ttf");
}
@font-face {
    font-family: "Home Video Bold";
    src: url("./fonts/home-video-font/HomeVideoBold.ttf");
}
@font-face {
    font-family: "Home Video";
    src: url("./fonts/home-video-font/HomeVideo.ttf");
}

@keyframes fadein {
    from{opacity: 0}
    20%{opacity: 0}
    to{opacity: 100; animation: fontDecrease;}
}

body{
    font-family: Consolas, ui-monospace;
    background-color: black;
    color: white;
    font-size: 2vmin;
    animation: fadein 13s;
}

.title{
    font-size: 80px;
}